@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f2f4f8;
}
.main{
    display: grid;
    /* grid-template-columns: .6fr 9fr; */
    height: auto;
}
.sidenav{
    height: 100vh;
    position: fixed;
    border-right:.2px solid lightgrey;
    display: grid;
    grid-template-rows: .8fr 7fr 2fr;
}
.img{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.sidenav a{
    text-decoration: none;
}
.logos{
    width: 45px;
    height: 45px;
}
.links{
    display: flex;
    justify-content: center;
}
.links li{
    list-style: none;
    margin: 30px 0px;
    width: 100%;
    padding: 0px 10px;
}
.sidenav .links ul li.active {
    border-left: 5px solid #654fe8; 
    border-radius: 3px;
  }
.links ul li img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bottomnav{
    list-style: none;
    display: flex;
    justify-content: center;
}
.bottomnav img{
    width: 30px;
    height: 30px;
    margin: 20px 0px;
}
.active{
    border-color: blue;
}
.main-content{
    display: grid;
    padding: 0px 0px 0px 60px;
}
.maincontent{
    display: grid;
    grid-template-columns: 5px 5fr 4fr 5px;
    padding: 0px 40px;
    padding-top: 50px;
    gap: 30px;
}
.card{
    grid-column-start: 2;
    grid-column-end: 3;
}
.list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    border-radius: 20px;
  }
  .list-container li{
    
    margin: 10px 20px;
    background-color: transparent;
  }
.card ul{ 
    margin: 0;
    padding: 0;
}
.list-details{
    background-color: transparent !important;
    color: #2d3748;
    padding: 2px;
}
.list-details p{
    font-size: 14px;
}
.list{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}
.list-img{
    background-color: #edf2f7;
    border-radius: 10px;
}
.list img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.status{
    grid-column-start: 3;
    grid-column-end: 4;
    gap: 20px;
    
}
.status-content{
    background-color: white;
    border-radius: 20px;
}
.bar{
    display: grid;
    grid-template-columns: 0px 2fr 1fr 1fr 0px;
}
.statusbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.statusbar span{
    background: linear-gradient(90deg, rgba(239,81,125,1) 0%, rgba(254,197,103,1) 38%, rgba(81,242,145,1) 100%);
    padding: 8px;
    width: 100%;
    border-radius: 30px;
    border:8px solid lightgray;
}
.insurance{
    text-align: center;
    font-size: 16px;
    
}
.insurance-content{
    display: grid;
    gap: 5px;
    padding: 10px;
}
.insurance-content button{
    color: blue;
    background-color: white;
    border:2px solid blue;
    padding: 5px;
    font-weight: bold;
}
.bottommaincontent{
        display: grid;
        grid-template-columns: 5px 5fr 4fr 5px;
        padding:40px;
        gap: 30px;
}
.bottomcard{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    border-radius: 20px;
    height: 97%;
}
.bottom-card{
    display: grid;
    padding: 20px;
}
.issues-btns-links{
    font-size: 12px;
    margin-top: 15px;
    display: flex;
    gap: 50px;
}
.checklist{
    display: flex;
    align-items: center;
    gap: 10px;
}
.one{
    width: 10px;
    height: 10px;
    border: 1px dashed gray;
    border-radius: 3px;
}
.two{
    width: 10px;
    height: 10px;
    border: 1px solid #654fe8;
    border-radius: 3px;
    background-color: #cec9f8;
    box-shadow: .2px .2px 1px 1.2px white inset;
}
.three{
    width: 10px;
    height: 10px;
    border: 1px solid #654fe8;
    border-radius: 5px;
    background-color: #a79af2;
    box-shadow: .2px .2px 1px .5px white inset;
}
.radar-content{
    height: 100%;
    padding-top: 80px;
}
.radar-system{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomstatus{
    grid-column-start: 3;
    grid-column-end: 4;    
}
.bottom-content{
    background-color: white;
    border-radius: 20px;
    padding:10px 20px;
}
.details p{
    font-size: 16px;
    font-weight: 600;
    color: #2d3748;
}
.bottomstatusbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin: 20px 0px;
}
.bottomstatusbar span{
    background-color: #f6ad55;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
}
.values{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.bottom-values{
    border-radius: 5px;
}
.datas{
    margin: 0px 10px;
}

.insights{
    grid-column-start: 3;
    grid-column-end: 4;  
    border-radius: 20px;
    background-color: white;  
    margin: 20px 0px;
    padding: 4px;
}
.insights-content{
    background-color: #f7fafc;
    border-radius: 20px;
    padding:10px;
}
.insights-main-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insights-btns{
    display: flex;
    align-items: center;
}
.insights-title p{
    font-size: 14px;
    font-weight: bold;
}
.insights-content button{
    background-color: white;
    border:.1px solid lightgray;
    padding: 2px 10px;
    margin: 0px 5px;
    border-radius: 10px;
}
.insights-content button:hover{
    box-shadow: 2px 2px 5px lightgray;
}
.operation-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.operation-img{
    width: 20px;
    height: 20px;
    fill: #dd6b20;
    display: flex;
    align-items: center;
}
.scroll-content{
    margin: 30px 0px;
    overflow-y: scroll;
    height: 300px;
}

.topcard{
    display: flex;
    background-color: #feebcb;
    padding: 20px;
    border: 2px solid #f6ad55;
    border-radius: 20px;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 10px;
}
.topcard:hover{
    border:2px solid #dd6b20;
}
.topcard .icon img{
    width: 30px;
    height: 30px;
}
.scrollcardcontent h4{
    margin-bottom: 10px;
}
.scrollcardcontent p{
    font-size: 14px;
}
.btns{
    display: flex;
    align-items: center;
}
.btns button{
    color: blue;
    border:.5px solid blue;
}
.belowcard{
    margin: 20px 0px;
}
.belowicon img{
    width: 30px;
    height: 30px;
}
.below-cards{
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    margin: 20px 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px lightgray;
}
.below-cards:hover{
    border: 1px solid lightgray;
}
.below-cards h4{
    margin-bottom: 10px;
}
.arrowbtn{
    display: flex;
    align-items: center;
}
.arrowbtn button{
    border-radius: 50%;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    background-color: #f7fafc;
    border: none;
}
.arrowbtn button:hover{
    background-color: #a0aec0;
}
.belowcard-arrow{
    width: 20px;
    height: 20px;
    rotate: -90deg;
}

.protection{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.protection-content{
    width: 60%;
}
.protection-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 30px 0px;
    align-items: center;
}
.first{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: start;
    border: none !important;
}
.protection-circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid #e2e8f0;
    border-right-color:#00e48a;
    rotate: -40deg;
}
.protection-list{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 15px;
}
.protection-list li{
    border-left: 1px solid lightgray;
    padding-left: 20px;
}
.protection-items{
    margin: 50px 0px;
}
.protection-left{
    font-size: 20px;
}
.protection-left p{
    font-size: 16px;
    margin-top: 5px;
}
.protection-scroll{
    overflow-y: scroll;
    height: 80vh;
}
.protection-scroll-list{
    
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
    gap: 80px;
}
.scroll-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.protection-scroll-list:hover{
    background-color: #e2e8f0;
}
.scroll-list-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.scroll-list-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.scroll-list-right button{
    padding: 10px;
    width: 100px;
    background: none;
    border:1px solid #654fe8;
    color: #654fe8;
    border-radius: 10px;
}

.protection-list li span{
    font-size: 30px;
    font-weight: bold;
}
.protection-list p{
    font-size: 14px;
}
.protection-list-img{
    background-color: #edf2f7;
    padding: 10px;
    border-radius: 10px;
}
.protection-list-img img{
    width: 30px;
    height: 30px;
}
.scroll-list-right img{
    width: 20px;
    height: 20px; 
}
.middle-scroll-content p{
    font-size: 14px;
}
.expanded-content{
    margin-top: 30px;
    border-top: 1px solid lightgray;
}

.expanded-content-card{
    padding: 10px;
    gap: 80px;
}
.additional-list-heading{
    padding: 20px 0px;
    font-size: 18px;
}
.additional-data-title{
    font-size: 18px;
}
.additional-data-title p{
    font-size: 16px;
}
/* #a0aec0 */
/* #718096 */

.issuesPage{
    display: grid;
    grid-template-columns: 5px .06fr 1fr 5px;
    grid-template-rows: 5px .10fr 1fr 1.13fr 5px;
}
.issuesHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
.issuesHeader button{
    padding: 5px 10px;
    margin: 5px 0px;
    border: .2px solid lightgray;
    border-radius: 10px;
    background-color: #ffffff;
}
.issuesHeader .workbtns{
    display: flex;
    justify-content: space-between;
}
.left-issue-btn{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .left-issue-btn hr{
    height: 25px;
  }
  .left-issue-btn button{
    padding: 2px 10px;
    border-radius: 8px;
    border: .1px solid lightgray;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096 !important;
  }
  .left-issue-btn button:hover{
      border: 1px solid gray;
      color: #654FE8 !important;
}
.left-issue-btn button:hover .search-img{
    fill: #654FE8 !important;
}
  .left-issue-btn button .search-img{
    width: 100%;
    height: 20px;
  }
.issuesBtn{
    display: flex;
    gap: 15px;
}
.issuesBtn span{
    border: .2px solid lightgray;
    border-radius: 8px;
    color: #718096;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
}
.issuesBtn hr{
    height: 20px;
}
.sta .close{
    fill: #718096;
}
.issuesBtn button{
    color: #718096;
    background-color: transparent;
    border: none;
    padding: 2px 10px !important;
    margin: 0px !important;
}
.issuesBtn button:hover{
    background-color: lightgray;
    border-radius: 0px;
    height: 100%;
}
.issueclear{
    background-color: #ffffff !important;
    border:.1px dashed lightgray !important;
    padding: 2px 10px !important;
}
.issueclear:hover{
    color: #654fe8 !important;
    border-radius: 8px !important;
    border: .1px solid lightgray !important;
    box-shadow: 2px 2px 5px lightgray !important;
}
.shareimg{
    width: 100%;
    height: 20px;
    fill: #718096;
}

.headerButtons h2{
    margin-bottom: 10px;
    font-size: 18px;
    color: #4a5568;
}
.issuesCard table{
    border: .1px solid lightgray;
    border-radius: 10px;
    padding: 10px 0px;
    width: 100%;
    font-size: 14px;
    table-layout: auto;
    background-color: white;
    border-spacing: 0;
   
}
.issuesPage thead{
    color: #718096;
}
.issuesCard th,
.issuesCard td {
  text-align: start;
  padding: 12px; 
  width: auto;
  
}
.issue-right-btn button{
    padding: 8px !important;
    margin: 0px !important;
    border-radius: px !important;
    margin: 0px 10px !important;
    display: flex;
    align-items: center;
}
.issue-right-btn{
    padding: 2px;
}
.issue-right-btn button:hover{
    border: 0px !important;
    box-shadow: 2px 2px 5px lightgray !important;
}
.issuesCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.issuesCard tr{
    text-align: start;
}
.default{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.default span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.default:hover .view{
    fill: #654fe8;
}
.view{
    width: 20px;
    height: 15px;
    rotate: 180deg;
    fill: #718096;
}
.dropdown{
    width: 18px;
    height: 18px;
    transition: .3s ease-in-out;
}
.dropdown:hover{
    rotate: -180deg;
}

.issuesCard th{
    text-align: start;
    margin: 20px 20px;
    border-bottom: .1px solid lightgray;
}
.issuesCard thead tr{
    border-bottom: .1px solid lightgray ;
}
.tablecontainer{
    overflow-x: scroll; 
    margin-top: 15px;
} 

.tablecontainer img{
    width: 20px;
    height: 20px;
}
  


.userPage{
    display: grid;
    grid-template-columns: 10px .06fr 1fr 10px;
    grid-template-rows: 5px .10fr 1fr 1.13fr 5px;
}
.userHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}

.userHeader button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.userHeader .userworkbtns{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.left-btn{
    display: flex;
    gap: 30px;
}
.right-btn{
    display: flex;
    gap: 30px;
}
.userBtn{
    display: flex;
    gap: 15px;
}
.user-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-right button{
    background-color: #ffffff !important;
    border: .1px solid lightgray;
}
.user-setting{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #654fe8;
}
.setting{
    fill: #654fe8 ;
}
.userBtn span{
    border: .1px solid lightgray;
    padding: 5px 10px;
    margin: 0px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    color: #4a5568 !important;

}
.usbt .close{
    fill: #4a5568;
}
.userBtn hr{
    height: 15px;
}
.userBtn button{
    background-color: transparent;
    border-radius: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #4a5568 !important;
}

.userBtn .clear{
    border-radius: 8px !important;
    padding: 2px 8px !important;
    background-color: #ffffff;
    fill: #4a5568 !important;

}
.userButtons h2{
    margin-bottom: 5px;
    font-size: 18px;
    color: #4a5568;
}
.userCard table{
    border: .1px solid lightgray;
    border-radius: 10px;
    /* padding: 10px; */
    width: 100%;
    font-size: 14px;
    table-layout: auto;
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
}
.userCard th,
.userCard td {
  text-align: start;
  padding: 15px 10px; 
  width: auto;
  
}


.userCard th{
    text-align: start;
    margin: 20px 20px;
    border-bottom: .1px solid lightgray;
}
.userCard thead{
    color: #718096;
}
.userCard thead tr{
    border-bottom: .1px solid lightgray ;
}
.userCard tr{
    text-align: start;
}
.usertablecontainer{
    margin-top: 20px;
} 

.usertablecontainer img{
    width: 20px;
    height: 20px;
}
.thead{
    border-bottom: .2px solid gray;
}

.monitorPage{
    display: grid;
    grid-template-columns: 10px .06fr 1fr 10px;
    grid-template-rows: 10px .20fr 1fr 1.13fr 10px;
}
.monitorHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}

.monitorHeader button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.monitorHeader .monitorworkbtns{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
/* .left-btn{
    display: flex;
    gap: 30px;
} */

.monitorBtn{
    display: flex;
    gap: 15px;
}
.monitorButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
    color: #4a5568;
}
.monitorCard table{
    background-color: white;
    border: .1px solid lightgray;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    table-layout: auto;
    color: #718096;
}
.monitorCard th,
.monitorCard td {
  text-align: start;
  padding: 10px; 
  width: auto;
  
}


.monitorCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.monitorCard tr{
    text-align: start;
}
.monitortablecontainer{
    margin-top: 10px;
} 

.monitortablecontainer img{
    width: 20px;
    height: 20px;
}



.globePage{
    display: grid;
    grid-template-columns: 10px .06fr 1fr 10px;
    grid-template-rows: 10px .20fr 1fr  10px;
}
.globeHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
/* .globeCard{
    background-color: white;
} */
.globeworkbtns button{
    padding: 2px 10px;
    border-radius: 8px;
    border: .1px solid lightgray;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096 !important;
}
.globeworkbtns{
    display: flex;
    gap: 10px;
    margin: 15px 0px;
}
.globeworkbtns button:hover{
    border: 1px solid gray;
    color: #654FE8 !important;
}
.globeworkbtns button:hover .search-img{
  fill: #654FE8;
}
.globeworkbtns button .search-img{
  width: 100%;
  height: 20px;
}
.filter{
  border: .1px dashed lightgray !important;
  display: flex;
  gap: 10px;
}
.filter-img{
    width: 20px;
    height: 20px;
}
.filter:hover{
  border: .1px solid lightgray !important;
  box-shadow: 2px 2px 5px lightgray !important;
}
.globeBtn{
    display: flex;
    gap: 15px;
}
.globeButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
    color: #4a5568;
}
.globeCard table{
    border: .1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    table-layout: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}
.globeCard th{
    color: #718096;
}

.globeCard th,
.globeCard td {
    text-align: start;
    padding: 10px; 
    width: auto;
    
}


.globeCard th{
    text-align: start;
    margin: 20px 20px;
    border-bottom: .1px solid lightgray;
}
.globeCard thead tr{
    border-bottom: .1px solid lightgray ;
}
.globeCard tr{
    text-align: start;
}
.globetablecontainer{
    margin-top: 10px;
} 

.globetablecontainer img{
    width: 20px;
    height: 20px;
}

.hoverbtn{
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value as needed */
  transform: translateY(-50%);
  display: none;
}
.globeCard tbody tr:hover .hoverbtn {
    display: inline-block;
  }
  .education{
    display: grid;
    grid-template-columns: 10px .8fr 1fr 1fr 1fr .8fr 10px;
    grid-template-rows: 10px .1fr 1fr 10px;

  }
  .education-content{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
  }
.education-function{
    color: #718096;
}
 
  .education-content h3{
    margin: 10px 0px;
  }
 
  .upper-btn{
    display: flex;
    gap: 10px;
    margin: 15px 0px;
  }
  .upper-btn button{
    padding: 2px 10px;
    border-radius: 8px;
    border: .1px solid lightgray;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096 !important;
  }
  .upper-btn button:hover{
      border: 1px solid gray;
      color: #654FE8 !important;
}
.upper-btn button:hover .search-img{
    fill: #654FE8 !important;
}
  .upper-btn button .search-img{
    width: 100%;
    height: 20px;
  }
  .filter{
    border: .1px dashed lightgray !important;
  }
  .filter:hover{
    border: .1px solid lightgray !important;
    box-shadow: 2px 2px 5px lightgray !important;
  }
  .search-img{
    fill: #B0B4BA;
  }
  .lower-btn{
    display: flex;
    gap: 10px;
  }
  .lower-btn button{
    padding: 2px 10px;
    border-radius: 8px;
    border: .5px solid lightgray;
    background-color: #ffffff;
    color: #718096;
  }
  .lower-btn button:hover{
      color: #718096 !important;
  }
  .lower-btn span{
    font-size: 14px;
    border: .1px solid lightgray;
    padding: 1px 4px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  .lower-btn span:hover{
    box-shadow: 2px 2px 5px lightgray !important;
}
.lang{
    border: none !important;
    background-color: transparent;
}
.lang:hover{
     box-shadow: 2px 2px 5px lightgray !important;
     background-color: #f2f4f8;
     border-radius: 0px !important;
     height: 100% !important;
 }
 .clear{
    border: .1px dashed lightgray !important;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #718096 !important;
    fill: #4a5568 !important;
}
.lan .close{
    fill: #4a5568;
 }
 
 .clear:hover{
    border:.1px solid lightgray !important;
    box-shadow: 2px 2px 5px lightgray !important;
    color: #654FE8 !important;
    fill: #654FE8 !important;
 }
  .edu-card-img1{
    width: 50px;
    height: 50px;
  }
  .edu-card1{
    width: 23%;
    height: auto;
    text-align: center;
    margin: 30px 0px;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
  }
  .upper-part1{
    padding: 15px 5px;
  }
  .upper-part1 span{
    font-size: 12px;
  }
  .columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.edu-below-btn1{
    margin-top: 25px;
    width: 100%;
    border-top: .2px solid lightgray;
    padding: 15px;
    cursor: pointer;
    color: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .edu-card1.dashed-border{
    border:.5px dashed #654FE8
  }
  .edu-card1.dashed-border .edu-below-btn1 h4{
    color: #654FE8
  }
.edu-card1:hover
.edu-below-btn1 {
    background-color: #654FE8;
    color: white;
  }
  
.edu-below-btn1:not(:hover) {
    background-color: white;
    color: gray;
  }
  .close{
    width: 15px;
    height: 15px;
  }
  .clear span{
    background-color: transparent !important;
  }