@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f2f4f8;
}
.main{
    display: grid;
    /* grid-template-columns: .6fr 9fr; */
    height: auto;
}
.sidenav{
    height: 100vh;
    position: fixed;
    border-right:.2px solid lightgrey;
    display: grid;
    grid-template-rows: .8fr 7fr 2fr;
}
.img{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.sidenav a{
    text-decoration: none;
}
.logos{
    width: 45px;
    height: 45px;
}
.links{
    display: flex;
    justify-content: center;
}
.links li{
    list-style: none;
    margin: 30px 0px;
    width: 100%;
    padding: 0px 10px;
}
.sidenav .links ul li.active {
    border-left: 5px solid #654fe8; 
    border-radius: 3px;
  }
.links ul li img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bottomnav{
    list-style: none;
    display: flex;
    justify-content: center;
}
.bottomnav img{
    width: 30px;
    height: 30px;
    margin: 20px 0px;
}
.active{
    border-color: blue;
}
.main-content{
    display: grid;
    padding: 0px 0px 0px 60px;
}
.maincontent{
    display: grid;
    grid-template-columns: 5px 5fr 4fr 5px;
    padding: 0px 40px;
    padding-top: 50px;
    gap: 30px;
}
.card{
    grid-column-start: 2;
    grid-column-end: 3;
}
.list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    border-radius: 20px;
  }
  .list-container li{
    margin: 20px;
    background-color: transparent;
  }
.card ul{ 
    margin: 0;
    padding: 0;
}
.list-details{
    background-color: transparent !important;
}
.list{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}
.list-img{
    background-color: #edf2f7;
    border-radius: 10px;
}
.list img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.status{
    grid-column-start: 3;
    grid-column-end: 4;
    gap: 20px;
    
}
.status-content{
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    padding:10px 20px;
}
.statusbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}
.statusbar span{
    background: linear-gradient(90deg, rgba(239,81,125,1) 0%, rgba(254,197,103,1) 38%, rgba(81,242,145,1) 100%);
    padding: 8px;
    width: 100%;
    border-radius: 30px;
    border:8px solid lightgray;
}
.insurance{
    text-align: center;
    font-size: 16px;
    
}
.insurance-content{
    display: grid;
    gap: 5px;
}
.insurance-content button{
    color: blue;
    background-color: white;
    border:2px solid blue;
    padding: 10px;
    font-weight: bold;
}
.bottommaincontent{
        display: grid;
        grid-template-columns: 5px 5fr 4fr 5px;
        padding:40px;
        gap: 30px;
}
.bottomcard{

    grid-column-start: 2;
    grid-column-end: 3;
}
.bottom-card{
    display: grid;
    background-color: white;
    border-radius: 20px;
}
.bottomstatus{
    grid-column-start: 3;
    grid-column-end: 4;    
}
.bottom-content{
    background-color: white;
    border-radius: 20px;
    padding:10px 20px;
}
.details p{
    font-size: 18px;
    font-weight: 600;
}
.bottomstatusbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin: 40px 0px;
}
.bottomstatusbar span{
    background-color: #f6ad55;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
}
.values{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-values{
    border-radius: 5px;
}
.datas{
    margin: 0px 10px;
}

.insights{
    grid-column-start: 3;
    grid-column-end: 4;  
    border-radius: 20px;
    background-color: white;  
    margin: 20px 0px;
    padding: 4px;
}
.insights-content{
    background-color: #f7fafc;
    border-radius: 20px;
    padding:10px 20px;
}
.insights-main-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insights-title p{
    font-size: 18px;
    font-weight: 600;
}
.insights-content button{
    background-color: white;
    border:.5px solid gray;
    padding: 5px 12px;
    margin: 0px 5px;
    border-radius: 10px;
}
.scroll-content{
    margin: 30px 0px;
    overflow-y: scroll;
    height: 300px;
}

.topcard{
    display: flex;
    background-color: #feebcb;
    padding: 20px;
    border: 2px solid #f6ad55;
    border-radius: 20px;
    justify-content: space-between;
    gap: 10px;
}
.topcard:hover{
    border:2px solid #dd6b20;
}
.topcard .icon img{
    width: 30px;
    height: 30px;
}
.scrollcardcontent h4{
    margin-bottom: 10px;
}
.scrollcardcontent p{
    font-size: 14px;
}
.btns{
    display: flex;
    align-items: center;
}
.btns button{
    color: blue;
    border:.5px solid blue;
}
.belowcard{
    margin: 20px 0px;
}
.belowicon img{
    width: 30px;
    height: 30px;
}
.below-cards{
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
}
.below-cards h4{
    margin-bottom: 10px;
}


.protection{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.protection-content{
    width: 60%;
}
.protection-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 30px 0px;
    align-items: center;
}
.first{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: start;
    border: none !important;
}
.protection-circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid #e2e8f0;
    border-right-color:#00e48a;
    rotate: -40deg;
}
.protection-list{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 15px;
}
.protection-list li{
    border-left: 1px solid lightgray;
    padding-left: 20px;
}
.protection-items{
    margin: 50px 0px;
}
.protection-left{
    font-size: 20px;
}
.protection-left p{
    font-size: 16px;
    margin-top: 5px;
}
.protection-scroll{
    overflow-y: scroll;
    height: 80vh;
}
.protection-scroll-list{
    
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
    gap: 80px;
}
.scroll-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.protection-scroll-list:hover{
    background-color: #e2e8f0;
}
.scroll-list-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.scroll-list-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.scroll-list-right button{
    padding: 10px;
    width: 100px;
    background: none;
    border:1px solid #654fe8;
    color: #654fe8;
    border-radius: 10px;
}

.protection-list li span{
    font-size: 30px;
    font-weight: bold;
}
.protection-list p{
    font-size: 14px;
}
.protection-list-img{
    background-color: #edf2f7;
    padding: 10px;
    border-radius: 10px;
}
.protection-list-img img{
    width: 30px;
    height: 30px;
}
.scroll-list-right img{
    width: 20px;
    height: 20px; 
}
.middle-scroll-content p{
    font-size: 14px;
}
.expanded-content{
    margin-top: 30px;
    border-top: 1px solid lightgray;
}

.expanded-content-card{
    padding: 10px;
    gap: 80px;
}
.additional-list-heading{
    padding: 20px 0px;
    font-size: 18px;
}
.additional-data-title{
    font-size: 18px;
}
.additional-data-title p{
    font-size: 16px;
}
/* #a0aec0 */
/* #718096 */

.issuesPage{
    display: grid;
    grid-template-columns: 10px .08fr 1fr 10px;
    grid-template-rows: 10px .20fr 1fr 1.13fr 10px;
}
.issuesHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
.issuesCard{
    background-color: white;
}
.issuesHeader button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.issuesHeader .workbtns{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.issuesBtn{
    display: flex;
    gap: 15px;
}
.headerButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
}
.issuesCard table{
    border: .5px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    /* table-layout: fixed; */
    table-layout: auto;
    /* display: grid; */
    /* grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px; */
}
.issuesCard th,
.issuesCard td {
  text-align: start;
  padding: 10px; 
  width: auto;
  
}


.issuesCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.issuesCard tr{
    text-align: start;
}
.tablecontainer{
    overflow-x: scroll; 
    margin-top: 10px;
} 

.tablecontainer img{
    width: 20px;
    height: 20px;
}
  


.userPage{
    display: grid;
    grid-template-columns: 10px .08fr 1fr 10px;
    grid-template-rows: 10px .20fr 1fr 1.13fr 10px;
}
.userHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
.userCard{
    background-color: white;
}
.userHeader button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.userHeader .userworkbtns{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.left-btn{
    display: flex;
    gap: 30px;
}
.right-btn{
    display: flex;
    gap: 30px;
}
.userBtn{
    display: flex;
    gap: 15px;
}
.userButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
}
.userCard table{
    border: .5px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    /* table-layout: fixed; */
    table-layout: auto;
    /* display: grid; */
    /* grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px; */
}
.userCard th,
.userCard td {
  text-align: start;
  padding: 10px; 
  width: auto;
  
}


.userCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.userCard tr{
    text-align: start;
}
.usertablecontainer{
    margin-top: 10px;
} 

.usertablecontainer img{
    width: 20px;
    height: 20px;
}
.thead{
    border-bottom: .2px solid gray;
}

.monitorPage{
    display: grid;
    grid-template-columns: 10px .08fr 1fr 10px;
    grid-template-rows: 10px .20fr 1fr 1.13fr 10px;
}
.monitorHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
.monitorCard{
    background-color: white;
}
.monitorHeader button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.monitorHeader .monitorworkbtns{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
/* .left-btn{
    display: flex;
    gap: 30px;
} */

.monitorBtn{
    display: flex;
    gap: 15px;
}
.monitorButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
}
.monitorCard table{
    border: .5px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    table-layout: auto;
}
.monitorCard th,
.monitorCard td {
  text-align: start;
  padding: 10px; 
  width: auto;
  
}


.monitorCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.monitorCard tr{
    text-align: start;
}
.monitortablecontainer{
    margin-top: 10px;
} 

.monitortablecontainer img{
    width: 20px;
    height: 20px;
}



.globePage{
    display: grid;
    grid-template-columns: 10px .08fr 1fr 10px;
    grid-template-rows: 10px .30fr 1fr  10px;
}
.globeHeader{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 14px;
}
.globeCard{
    background-color: white;
}
.globeworkbtns button{
    padding: 5px 10px;
    margin: 10px 0px;
    border: .5px solid gray;
    border-radius: 10px;
}
.globeworkbtns{
    display: flex;
    gap: 15px;
}

.globeBtn{
    display: flex;
    gap: 15px;
}
.globeButtons h2{
    margin-bottom: 20px;
    font-size: 18px;
}
.globeCard table{
    border: .5px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    table-layout: auto;
    position: relative;
}
.globeCard th,
.globeCard td {
  text-align: start;
  padding: 10px; 
  width: auto;
  
}


.globeCard th{
    text-align: start;
    margin: 20px 20px;
    
}
.globeCard tr{
    text-align: start;
}
.globetablecontainer{
    margin-top: 10px;
} 

.globetablecontainer img{
    width: 20px;
    height: 20px;
}

/* .internethidden{
    padding: 0px 5px;
    background:none;
    border: .5px solid #654fe8;
    color: #654fe8;
    display: none;
} */
.hoverbtn{
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value as needed */
  transform: translateY(-50%);
  display: none;
}
.globeCard tbody tr:hover .hoverbtn {
    display: inline-block;
  }